#banner{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
h1{
    text-align: center;
}
#Slogan{
    display: flex;
    margin: 0;
    padding: 5px;
    border-top: 0;
    height: 2em;
    justify-content: center;
    align-items: center;
    color: #edd6c4;
}
#base{
    width: 50%;
    float: left;
    margin: auto; 
    padding: 7% 0;
    }
#mid{
    width: 50%;
}
#base p, #base h1{  
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 58em){
    #base{
        width: 50%;
        float: none;
        margin: auto; 
        padding: 7% 0;
        }
    #mid{
        width: 100%;
    }
    #Slogan{
        padding: 10px;
        font-size: 150%;
    }
}
